.list {
	padding-top: 10px;

	.item {
		&.completed {
			.content {
				text-decoration: line-through;
			}
		}
		.content, .remove, .checkbox {
			@include inline-block();
		}

		.remove, .checkbox {
			padding-left: 10px;
		}
	}
}